@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'DM Serif Display', serif;
}

:root {
  --ui-radius: 0.5rem;
  --ui-container: var(--container-xl);
}

.prose-scale {
  zoom: 0.9;
}

.prose-scale h1 {
  font-family: var(--font-display);
  font-weight: 400;
}
html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}
